* {
    padding: 0;
    margin: 0;
}

.container {
    background: url("../assets/img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 10vw;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    padding-inline: 15px;
    border-radius: 5px;
}

#board {
    background: linear-gradient(rgb(170, 220, 170), rgb(220, 220, 168));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    border-radius: 9px;
    transform: scale(1.02);
}

.snake {
    background-color: purple;
    border: 0.25vmin solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(orange, purple);
    border: 0.25vmin solid black;
    border-radius: 50%;
}

.buttons {
    position: absolute;
    top: 100px;
    right: 6vw;
    width: 200px;
    height: 200px;
    display: none;
}

#up, #down, #left, #right {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#up {
    top: 40px;
    right: -70px;
}
#down {
    top: 108px;
    right: -25px;
}
#left {
    top: 75px;
    right: 48px;
}
#right {
    top: 75px;
    right: 32px;
}

/* Media Queries */

@media screen and (min-width: 900px) and (max-width: 1050px) {
    #scoreBox {
        right: 5vw;
    }
}

@media screen and (min-width: 850px) and (max-width: 900px) {
    #scoreBox {
        right: 2vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 850px) {
    #scoreBox {
        right: 2vw;
    }

    #board {
        width: 85vmin;
        height: 87vmin;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    #scoreBox {
        right: 2vw;
    }

    #board {
        width: 82vmin;
        height: 84vmin;
    }

    .head {
        border-radius: 6px;
    }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
    #board {
        width: 78vmin;
        height: 80vmin;
    }
}

@media screen and (max-width: 600px) {
    .head {
        border-radius: 3px;
    }
}

@media screen and (max-width: 450px) {
    .buttons {
        display: block;
        top: 113vw;
        right: -50px;
    }
}